body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f9f9f9;
}

h1 {
    margin: 20px 0;
    color: #333;
}

#map {
    height: 700px;
    width: 100%;
}

#auth-section {
  margin-top: 20px;
}

#auth-section button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#user-info {
  display: none;
  text-align: center;
}

#user-email {
  font-size: 14px;
  color: #007bff;
  margin-bottom: 10px;
}
