body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f9f9f9;
}

h1 {
    margin: 20px 0;
    color: #333;
}

#map {
    height: 700px;
    width: 100%;
}
